{% extends "base.html.twig" %}

{% block body %}
{% for message in app.flashes('success') %}
    
    <div class="alert alert-success text-center">{{ message }}</div>

{% endfor %}


<a href="{{ path('admin_new_commande')}}" class="btn btn-success my-2">Ajouter une commande</a>

	<table class="table">
		<thead>
			<tr>

				{% for data in champs %}

					<th>{{ data }}</th>

				{% endfor %}

				{# <th>Action</th> #}
				<th>Edit</th>
				<th>Suppr</th>
			</tr>
		</thead>
		<tbody>
			{% for commande in commandes %}

				<tr>
					<td>{{ commande.id }}</td>
					<td>{{ commande.user.nom }} {{commande.user.nom}}</td>
                    <td>{{ commande.vehicule.titre }}</td>
					<td>{{ commande.dateHeureDepart|date('d/m/Y à H:i:s') }}</td>
					<td>{{ commande.dateHeureFin|date('d/m/Y à H:i:s') }}</td>
                    <td>{{ commande.prixTotal }}</td>
					<td>{{ commande.dateEnregistrement|date('d/m/Y à H:i:s') }}</td>

					
					
					<td>
						<a href="{{ path('admin_edit_commande', {id:commande.id}) }}" class="text-success">
							<i class="fas fa-edit"></i>
						</a>
					</td>
					<td>
						<a href="{{ path('admin_delete_commande', {id:commande.id}) }}" class="text-danger">
							<i class="fas fa-trash fa-2x"></i>
						</a>
					</td>

				</tr>


			{% endfor %}


		</tbody>

	</table>


{% endblock %}
