{% extends "base.html.twig" %}
{% block title %}Apropos{% endblock %}
 
    {% block body %}
	 <h3 cla>Présentation</h3>
<p >{{ presentation }}
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum libero vel mollitia velit! Consequatur voluptas maxime at! Libero repellat ut voluptatum suscipit sit, doloribus quo aperiam deserunt. Nisi, recusandae enim!
Vero delectus labore quod atque libero qui voluptatibus accusantium earum reiciendis sit nostrum itaque ad, harum, repudiandae dolores nulla blanditiis cum porro minus ducimus fugiat. Magnam, laborum. Id, eveniet saepe?
Perferendis corrupti recusandae nemo earum rem. Totam, commodi. Explicabo, quibusdam! Tempore quisquam tenetur eius porro minus? Voluptate architecto minima, sit placeat ipsa laborum nam? Mollitia consequatur obcaecati maiores doloremque quis?
Quaerat, vitae fuga quidem maiores architecto maxime recusandae labore quam obcaecati dolorem rerum possimus. Consectetur blanditiis minus dolor odit, ad, reprehenderit minima vel nam sapiente odio totam quod natus maiores!
Quos vero optio quis numquam, ducimus labore veritatis adipisci sit iste aut. Non doloribus asperiores, recusandae eveniet iste eaque libero debitis facilis veritatis. Cupiditate doloribus assumenda ducimus similique, officia accusamus.
Nemo rerum quas qui provident blanditiis deserunt modi porro explicabo facilis praesentium tenetur placeat, ex cum in! Earum ex, impedit, voluptas reprehenderit doloremque enim voluptatum tempore fuga aperiam, vero dolor!
Corporis, vitae quidem harum tenetur, at aspernatur et excepturi corrupti omnis vel placeat, numquam aperiam qui maxime vero reprehenderit mollitia nulla fugiat facilis minima explicabo perferendis? Quisquam incidunt natus ipsa!
Dolorum explicabo facere vero expedita quod culpa ut animi impedit quis vel. Placeat et doloremque sit quae facilis possimus dolorem, corporis atque illo, laboriosam animi architecto nostrum blanditiis ipsum veniam.
Possimus provident iure, iusto dolores officia culpa eligendi earum repellat, atque ex assumenda qui quis quas, quasi reiciendis soluta recusandae! Vero, minima quos illum velit repellendus rerum earum ab modi.
Quae amet quo eius tempore officia aut dicta, reprehenderit quos error enim eos ipsam exercitationem tenetur voluptate beatae architecto assumenda perspiciatis quidem? Dolores, aut expedita! Inventore, obcaecati et? Reiciendis, quidem.
<p>

<h4> pour nous contacter ou prendre rendez-vous:</h4>
<ul>
	<li>Adresse: {{ adresse }}</li>
	<li>Téléphone : {{ Telephone }}</li>
	<li>Email: {{ email }}</li>
</ul>  
<p></p></p>
{# {% for vehicule in tabvehicules %}
			<div class="carte">

				<div class="card mb-3" style="max-width: 540px;">
					<div class="row g-0">
						<div class="col-md-4">
							<img src="{{ vehicule.photo }}" class="img-fluid rounded-start" alt="...">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">{{ vehicule.titre}}</h5>
								<p class="card-text">
									{{ vehicule.description}}</p>
								<p class="card-text">
									<small class="text-muted">{{vehicule.prixJournalier}} €</small>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
</div>
		{% endfor %} #}

     {% endblock %}


